@use "../abstract/config";
@use "sass:map";

$-fb: config.$fb-prefix;

.#{config.$fb-prefix}-repeater {
  width: 100%;

  &__header {
    // margin-left: auto;
    // justify-self: end;
    width: 100%;
    display: flex;
    justify-content: end;

    .#{$-fb}-btn-repeater-delete {
      margin: 1rem 0;
      width: auto;
      box-sizing: border-box;
      .#{$-fb}-button__content {
        // display: none;
      }
  
      @media (min-width: #{map.get(config.$breakpoints, 'sm')}) {
        // height: auto;
        .#{$-fb}-button__content {
        }
      }
  
      @media (min-width: #{map.get(config.$breakpoints, 'lg')}) {
      }
    }
  }

  &__content {
    border-bottom: 1px solid var(--#{$-fb}-input-border-color);
  }

  .#{$-fb}-btn-repeater-add {
    margin: 1rem 0;
  }

}

.#{config.$fb-prefix}-disabled-row-repeater {
  padding: 1rem;
  position: relative;
  background: #f1f1f1;
  opacity: .3;
  pointer-events: none;
  border: 3px dashed #C0C0C0; // Simplifiquei a borda para performance

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    cursor: not-allowed;
  }
}