@use 'sass:math';
@use "../abstract/config";

.#{config.$fb-prefix}-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  
  @media (min-width: 768px) { max-width: 720px; }
  @media (min-width: 1200px) { max-width: 1140px; }
  
  &-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.#{config.$fb-prefix}-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.#{config.$fb-prefix}-col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1 0 0%;
  max-width: 100%;

  // Exemplo de utilitário de coluna simples
//   &.fb-col-6 { flex: 0 0 50%; max-width: 50%; }
//   &.fb-col-12 { flex: 0 0 100%; max-width: 100%; }
}

@for $i from 1 through 12 {
  .#{config.$fb-prefix}-col-#{$i} {
    flex: 0 0 auto;
    width: math.percentage(math.div($i, 12));
  }
}

// Coluna que ocupa apenas o espaço do conteúdo
.#{config.$fb-prefix}-col-auto {
  flex: 0 0 auto;
  width: auto;
}

@each $key, $val in config.$breakpoints {
  @media (min-width: $val) {
    .#{config.$fb-prefix}-col-#{$key}-auto {
      flex: 0 0 auto;
      width: auto;
    }

    @for $i from 1 through 12 {
      .#{config.$fb-prefix}-col-#{$key}-#{$i} {
        flex: 0 0 auto;
        width: math.percentage(math.div($i, 12));
      }
    }
  }
}